<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fejl</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div class="header">
    <h1>Ups noget gik galt</h1>
    <h2 th:text="${type}"></h2>
</div>


<section class="error-center">
    <p th:text="${errorMessage}"></p>
</section>

<p class="center">
    Klik på knappen herunder for at komme tilbage til start siden:
</p>

<div class="center">
    <form action="/welcome" method="get">
        <button type="submit" class="btn">Gå til Start</button>
    </form>
</div>

<div class="footer">
    &copy; 2026 Maine Coon Klubben | Alle rettigheder forbeholdes
</div>
</body>
</html>