<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fejl</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="header">
    <h1>Ups noget gik galt</h1>
    <h2 th:text="${type}"></h2>
</div>

<div class="error-text">
    <section class="error">
        <p th:text="${errorMessage}"></p>
    </section>

</div>

<div class="main-text">
    <p>
        Klik på knappen herunder for at komme tilbage til start siden: <br>
        <form action="/" method="get">
            <button type="submit">Gå til Start</button>
        </form>
    </p>
</div>

    <div class="footer">
        &copy; 2026 Maine Coon Klubben | Alle rettigheder forbeholdes
    </div>
</body>
</html>