<!DOCTYPE html>
<html lang="en">
<head>
    <title>Velkommen</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="header">
    <h1>Velkommen til Startsiden</h1>
    <h2>Du kan teste valideringen af registrering ved klik af link ude i siden eller du kan klikke på knappen nedenunder</h2>
</div>

<div class="container">

    <div class="sidebar">
        <a href="/">Start Side</a>
        <a href="/register">Registrering</a>
    </div>

    <div class="content">
        <p>
            Gå videre til registrering:

            <form action="/register" method="get">
                <button type="submit">Gå til Registrering</button>
            </form>
        </p>

    </div>

</div>
<div class="footer">
    &copy; 2026 | All Right Reserved
</div>
</body>
</html>