<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Velkommen</title>
</head>
<body>

<div class="header">
    <h1>Maine Coon Klubben</h1>
    <p>Velkommen til vores katteunivers!</p>
</div>

<div class="navbar" th:insert="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="content">
        <div class="intro">
            <h2>Her kan du se listen over alle katte</h2>
        </div>

        <div class="info">
            <p>Du kan søge efter en kats navn</p>
        </div>

        <div class="search">
            <form th:action="@{/cat/search}" method="get">
                <input type="text" name="name" th:value="${name}" placeholder="Du kan søge efter en del af en persons navn">
                <button type="submit" class="btn">Søg</button>
            </form>
        </div>

        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Navn</th>
                    <th>Køn</th>
                    <th>Ems Kode</th>
                    <th>Fertilitet</th>
                    <th>Fødselsdag</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="cat : ${cats}">
                    <td th:text="${cat.catId}"></td>
                    <td th:text="${cat.name}"></td>
                    <td th:text="${cat.sex}"></td>
                    <td th:text="${cat.emsCode}"></td>
                    <td th:text="${cat.fertile}"></td>
                    <td th:text="${cat.dateOfBirth}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="footer">
    &copy; 2026 Maine Coon Klubben | Alle rettigheder forbeholdes
</div>

</body>
</html>