<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Log Ind</title>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="header">
    <h1>Log Ind Side</h1>
</div>

<div class="container">

    <nav class="sidebar">
        <a href="/" class="nav-link">Startside</a>
        <a href="/authentication/register" class="nav-link">Registrering</a>
        <a href="/authentication/login" class="nav-link">Log ind</a>
    </nav>

    <div class="content">
        <section class="intro">
            <h2>Log ind</h2>
            <p>Indtast den relevante information, og klik på knappen:</p>
        </section>

        <p>
            <strong>
                <p th:text="${responseMessage}"></p>
            </strong>
        </p>

        <p>
        <form th:action="@{/authentication/login}" method="post" th:object="${member}">
            <label for="email">Indtast email </label><br>
            <input type="email" id="email" th:field="*{email}" placeholder="JegElskerKatte@gmail.com" required><br><br>
            <label for="password">Indtast kodeord </label><br>
            <input type="password" id="password" th:field="*{password}" required><br><br>
        </p>

            <section class="actions">
                <button type="submit" class="btn">Prøv</button>
            </section>
        </form>

    </div>

</div>
<div class="footer">
    &copy; 2026 Maine Coon Klubben | Alle rettigheder forbeholdes
</div>
</body>
</html>